<!DOCTYPE html>
<html lang="en" >
<head>
  <meta charset="UTF-8">
  <title>Songs Sad</title>
  <link rel="stylesheet" href="/static/songs_emotion.css">
</head>
<body>
    <div id='stars'></div>
    <div id='stars2'></div>
    <div id='stars3'></div>

    <div class="wrapper">
        <div class="cols">
          
          
                  <div class="col" ontouchstart="this.classList.toggle('hover');">
                      <div class="container">
                          <div class="front" style="background-image: url(https://c.saavncdn.com/238/Shershaah-Original-Motion-Picture-Soundtrack--Hindi-2021-20210815181610-500x500.jpg)">
                              <div class="inner">
                                  <p>Rata Lambiya</p>
                    <span>Jubin Nautiyal</span>
                              </div>
                          </div>
                          <div class="back">
                              <div class="inner">            
      <!--               spotify button -->
                    <div class="button-container">
                    <a href="https://open.spotify.com/embed/track/2rOnSn2piaqLAlYjtfUBlY?utm_source=generator" class="spotify">Spotify</a>
                    </div>
                    <br>
      <!--            end of spotify button --> 
                    
      <!--               youtube button -->
                    <div>
                    <a href="https://www.youtube.com/embed/gvyUuxdRdR4" class="youtube-button">
                    YouTube
                    </a>
                    </div>
      <!--            end of youtube button -->
                              </div>
                          </div>
                      </div>
                  </div>
          
          
          
          <div class="col" ontouchstart="this.classList.toggle('hover');">
                      <div class="container">
                          <div class="front" style="background-image: url(https://a10.gaanacdn.com/gn_img/albums/10q3ZR1352/0q3ZzPm035/size_m.webp)">
                              <div class="inner">
                                  <p>Agar Tum Saath Ho</p>
                    <span>Alka Yagnik & </span>
                    <br>
                    <span>Arijit Singh</span>
                              </div>
                          </div>
                          <div class="back">
                              <div class="inner">            
      <!--               spotify button -->
                    <div class="button-container">
                    <a href="https://open.spotify.com/embed/track/3hkC9EHFZNQPXrtl8WPHnX?utm_source=generator" class="spotify">Spotify</a>
                    </div>
                    <br>
      <!--            end of spotify button --> 
                    
      <!--               youtube button -->
                    <div>
                    <a href="https://www.youtube.com/embed/xRb8hxwN5zc" class="youtube-button">
                    YouTube
                    </a>
                    </div>
      <!--            end of youtube button -->
                              </div>
                          </div>
                      </div>
                  </div>
          
          
          <div class="col" ontouchstart="this.classList.toggle('hover');">
                      <div class="container">
                          <div class="front" style="background-image: url(https://i.scdn.co/image/ab67616d0000b273098f7d9926a009e528d7501e)">
                              <div class="inner">
                                  <p>Teri Mitti</p>
                    <span>Arko, B Praak</span>
                              </div>
                          </div>
                          <div class="back">
                              <div class="inner">            
      <!--               spotify button -->
                    <div class="button-container">
                    <a href="https://open.spotify.com/embed/track/3PAC15iDIHk7IWD8ShSgWh" class="spotify">Spotify</a>
                    </div>
                    <br>
      <!--            end of spotify button --> 
                    
      <!--               youtube button -->
                    <div>
                    <a href="https://www.youtube.com/embed/wF_B_aagLfI" class="youtube-button">
                    YouTube
                    </a>
                    </div>
      <!--            end of youtube button -->
                              </div>
                          </div>
                      </div>
                  </div>
          
          
          <div class="col" ontouchstart="this.classList.toggle('hover');">
                      <div class="container">
                          <div class="front" style="background-image: url(https://i.scdn.co/image/ab67616d0000b273eaa6b4bfb5954ee5a5a8ce9e)">
                              <div class="inner">
                                  <p>Khairiyat</p>
                    <span>Arijit Singh</span>
                              </div>
                          </div>
                          <div class="back">
                              <div class="inner">            
      <!--               spotify button -->
                    <div class="button-container">
                    <a href="https://open.spotify.com/embed/track/5O932cZmzOZGOGZz9RHx20?utm_source=generator" class="spotify">Spotify</a>
                    </div>
                    <br>
      <!--            end of spotify button --> 
                    
      <!--               youtube button -->
                    <div>
                    <a href="https://www.youtube.com/embed/DMRRC0rwO_I" class="youtube-button">
                    YouTube
                    </a>
                    </div>
      <!--            end of youtube button -->
                              </div>
                          </div>
                      </div>
                  </div>
          
          
          <div class="col" ontouchstart="this.classList.toggle('hover');">
                      <div class="container">
                          <div class="front" style="background-image: url(https://i.scdn.co/image/ab67616d0000b273459d675aa0b6f3b211357370">
                              <div class="inner">
                                  <p>Let Me Down Slowly</p>
                    <span>Alec Benjamin</span>
                              </div>
                          </div>
                          <div class="back">
                              <div class="inner">            
      <!--               spotify button -->
                    <div class="button-container">
                    <a href="https://open.spotify.com/embed/track/2uaiyLKnYvazyfR0Ky3Kbk?utm_source=generator" class="spotify">Spotify</a>
                    </div>
                    <br>
      <!--            end of spotify button --> 
                    
      <!--               youtube button -->
                    <div>
                    <a href="https://www.youtube.com/embed/50VNCymT-Cs" class="youtube-button">
                    YouTube
                    </a>
                    </div>
      <!--            end of youtube button -->
                              </div>
                          </div>
                      </div>
                  </div>
          
          
          <div class="col" ontouchstart="this.classList.toggle('hover');">
                      <div class="container">
                          <div class="front" style="background-image: url(https://upload.wikimedia.org/wikipedia/en/c/c3/Maroon_5_-_Memories.png">
                              <div class="inner">
                                  <p>Memories</p>
                    <span>Maroon 5</span>
                              </div>
                          </div>
                          <div class="back">
                              <div class="inner">            
      <!--               spotify button -->
                    <div class="button-container">
                    <a href="https://open.spotify.com/embed/track/2b8fOow8UzyDFAE27YhOZM?utm_source=generator" class="spotify">Spotify</a>
                    </div>
                    <br>
      <!--            end of spotify button --> 
                    
      <!--               youtube button -->
                    <div>
                    <a href="https://www.youtube.com/embed/SlPhMPnQ58k" class="youtube-button">
                    YouTube
                    </a>
                    </div>
      <!--            end of youtube button -->
                              </div>
                          </div>
                      </div>
                  </div>
          
          
          <div class="col" ontouchstart="this.classList.toggle('hover');">
                      <div class="container">
                          <div class="front" style="background-image: url(https://i.scdn.co/image/ab67616d0000b2738792c3e96f8ab97a767c5d0c">
                              <div class="inner">
                                  <p>Until I Found You</p>
                    <span>Stephen Sanchez</span>
                              </div>
                          </div>
                          <div class="back">
                              <div class="inner">            
      <!--               spotify button -->
                    <div class="button-container">
                    <a href="https://open.spotify.com/embed/track/0T5iIrXA4p5GsubkhuBIKV?utm_source=generator" class="spotify">Spotify</a>
                    </div>
                    <br>
      <!--            end of spotify button --> 
                    
      <!--               youtube button -->
                    <div>
                    <a href="https://www.youtube.com/embed/GxldQ9eX2wo" class="youtube-button">
                    YouTube
                    </a>
                    </div>
      <!--            end of youtube button -->
                              </div>
                          </div>
                      </div>
                  </div>
          
          
          
          <div class="col" ontouchstart="this.classList.toggle('hover');">
                      <div class="container">
                          <div class="front" style="background-image: url(https://i.scdn.co/image/ab67616d0000b273ba5db46f4b838ef6027e6f96">
                              <div class="inner">
                                  <p>Perfect</p>
                    <span>Ed Sheeran</span>
                              </div>
                          </div>
                          <div class="back">
                              <div class="inner">            
      <!--               spotify button -->
                    <div class="button-container">
                    <a href="https://open.spotify.com/embed/track/0tgVpDi06FyKpA1z0VMD4v?utm_source=generator" class="spotify">Spotify</a>
                    </div>
                    <br>
      <!--            end of spotify button --> 
                    
      <!--               youtube button -->
                    <div>
                    <a href="https://www.youtube.com/embed/2Vv-BfVoq4g" class="youtube-button">
                    YouTube
                    </a>
                    </div>
      <!--            end of youtube button -->
                              </div>
                          </div>
                      </div>
                  </div>
          
          
          
          <div class="col" ontouchstart="this.classList.toggle('hover');">
                      <div class="container">
                          <div class="front" style="background-image: url(https://i1.sndcdn.com/artworks-zzGaka2zm68AwZl6-FgDKng-t500x500.jpg">
                              <div class="inner">
                                  <p>Hollywood Songs</p>
                    <span>Playlist 1</span>
                              </div>
                          </div>
                          <div class="back">
                              <div class="inner">            
      <!--               spotify button -->
                    <div class="button-container">
                    <a href="https://open.spotify.com/embed/playlist/37i9dQZF1DX8Vz2ROLXhTT?utm_source=generator" class="spotify">Spotify</a>
                    </div>
                    <br>
      <!--            end of spotify button --> 
                    
      <!--               youtube button -->
                    <div>
                    <a href="https://www.youtube.com/watch?v=CveANi17YfU&list=PL3-sRm8xAzY-w9GS19pLXMyFRTuJcuUjy" class="youtube-button">
                    YouTube
                    </a>
                    </div>
      <!--            end of youtube button -->
                              </div>
                          </div>
                      </div>
                  </div>
          
          
          <div class="col" ontouchstart="this.classList.toggle('hover');">
                      <div class="container">
                          <div class="front" style="background-image: url(https://i1.sndcdn.com/artworks-FKFtF6ezKWX6VwLz-i7EBvA-t500x500.jpg">
                              <div class="inner">
                                  <p>Hollywood Songs</p>
                    <span>Playlist 2</span>
                              </div>
                          </div>
                          <div class="back">
                              <div class="inner">            
      <!--               spotify button -->
                    <div class="button-container">
                    <a href="https://open.spotify.com/embed/playlist/6nxPNnmSE0d5WlplUsa5L3?utm_source=generator" class="spotify">Spotify</a>
                    </div>
                    <br>
      <!--            end of spotify button --> 
                    
      <!--               youtube button -->
                    <div>
                    <a href="https://www.youtube.com/embed/yM594a-1wDA" class="youtube-button">
                    YouTube
                    </a>
                    </div>
      <!--            end of youtube button -->
                              </div>
                          </div>
                      </div>
                  </div>
          
          
          <div class="col" ontouchstart="this.classList.toggle('hover');">
                      <div class="container">
                          <div class="front" style="background-image: url(https://pyxis.nymag.com/v1/imgs/7e9/1ec/3ed05e86ec8e86b1ba84aec08650e943fd-06-sad-song.rsquare.w700.jpg">
                              <div class="inner">
                                  <p>Bollywod Songs</p>
                    <span>Playlist 1</span>
                              </div>
                          </div>
                          <div class="back">
                              <div class="inner">            
      <!--               spotify button -->
                    <div class="button-container">
                    <a href="https://open.spotify.com/embed/playlist/4YOfhHpjPB0tq29NPpDY3F?utm_source=generator" class="spotify">Spotify</a>
                    </div>
                    <br>
      <!--            end of spotify button --> 
                    
      <!--               youtube button -->
                    <div>
                    <a href="https://www.youtube.com/watch?v=dyi-Qh_HeTI&list=PLd2aeygdY8ompz69Wp3qYgY58KhDyWyMT" class="youtube-button">
                    YouTube
                    </a>
                    </div>
      <!--            end of youtube button -->
                              </div>
                          </div>
                      </div>
                  </div>
          
          
          <div class="col" ontouchstart="this.classList.toggle('hover');">
                      <div class="container">
                          <div class="front" style="background-image: url(https://images.unsplash.com/photo-1535890696255-dd5bcd79e6df?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=386&q=80">
                              <div class="inner">
                                  <p>Bollywood Songs</p>
                    <span>Playlist 2</span>
                              </div>
                          </div>
                          <div class="back">
                              <div class="inner">            
      <!--               spotify button -->
                    <div class="button-container">
                    <a href="https://open.spotify.com/embed/playlist/3Wek9RlkXhelSK3oidgHTS?utm_source=generator" class="spotify">Spotify</a>
                    </div>
                    <br>
      <!--            end of spotify button --> 
                    
      <!--               youtube button -->
                    <div>
                    <a href="https://www.youtube.com/watch?v=SBWYGGDYmhg&list=PLHuHXHyLu7BGi-vR7X6j_xh_Tt9wy7pNA" class="youtube-button">
                    YouTube
                    </a>
                    </div>
      <!--            end of youtube button -->
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
       </div>

</body>
</html>
